

* {
  /* colours */
  --primary-color: #4EB790;
  --secondary-color: #CFF5E7;
  --dark-green: #0E6F4B;
  --black-sub: #2E353E;
  --white-color: #FFFFFF;
  --red-color: #FC0606;
  --grey-color: #6E7175;
  --yellow-color: #D09705;
  --light-gradient: linear-gradient(180deg, #4EB790 0%, #20EBA0 100%);
  --dark-gradient: linear-gradient(180deg, #52BE96 0%, #31946F 53.12%, #0E6F4B 100%);

  /* text colors */
  --text-color: #2E353E;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

/* header css beginning */

.nav-container {
  z-index: 1000;
  position: fixed;
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.nav-left, .nav-right{
  height: 100%;
  display: flex;
  align-items: center;
}


.nav-logo{
margin: auto 1rem auto 1rem;
}

.nav-logo img {
  height: 65px;
}
.dashboard{
  margin-left: 1rem;
 
  
}

.search-bar {
  margin: auto 1rem auto 1rem;
}

.search-bar input{
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 1rem 5px 1rem;
  border: none;
  margin-right: -2rem;

}

.header-nav-links {
  margin: auto 4rem auto 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-links a {
  margin: 10px;
  color: var(--black-sub);
}

.nav-left .dashboard:hover, .header-nav-links a:hover {
  color: var(--dark-green);
  cursor: pointer;
}

.user-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 40px;
  max-width: 280px;
  /* width: 220px; */
  border-left: 3px solid var(--primary-color);
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-left: 1rem;
}

.user-row i{
  margin: 0.3rem;
}

.star {
  border: 3px solid gold;
  border-radius: 50%;
  margin-right: 0.5rem;
  padding-bottom: 3px;
  color: var(--red-color);
  /* overflow: hidden; */
}



.user{
  display: flex;
  /* border: 2px solid black; */
  background: var(--secondary-color);
  color: var(--black-sub);
  width: 8rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  height: 2.5rem;
  margin: auto 1rem auto 0.4rem;
  /*overflow: hidden;*/



 
}

.user-name{
  /* max-width: 8rem; */
  overflow: hidden; 
}

.guest-user{
  display: flex;
  align-items: baseline;

}

.guest-user button{
  width: 5rem;
  height: 2rem;
  margin: 0.5rem;
}

.user-image {
  border: none;
  border-radius: 50%;
  height: 100%;
  margin-left: 1rem;
  position: relative;
} 
.user-image img{
  border-radius: 50%;
  height: 100%;
}

.star-mini{
  padding-bottom: 4px;
  /* border: 1px solid rgb(17, 0, 255); */
  border-radius: 50%;
  height: 13px;
  color: var(--red-color);
  position: absolute;
  padding-top: 6px;
  top: 0px;
  right: -8px;
  z-index: 3500;
  /* border: 1px solid gold; */
  background-color: gold;

}

 