@import url('https://fonts.googleapis.com/css2?family=Brawler&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');

:root {
 /* colors */
  --primary-color: #4EB790;
  --secondary-color: #CFF5E7;
  --dark-green: #0E6F4B;
  --black-sub: #2E353E;
  --white-color: #FFFFFF;
  --red-color: #FC0606;
  --grey-color: #6E7175;
  --yellow-color: #D09705;
  --light-gradient: linear-gradient(180deg, #4EB790 0%, #20EBA0 100%);
 --dark-gradient: linear-gradient(180deg, #52BE96 0%, #31946F 53.12%, #0E6F4B 100%);

}


*
{
  margin :0;
  padding : 0;
  box-sizing:border-box;
  font-family: 'Brawler', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex; 
}

.side-nav{
    width:300px;
    height: 100vh;
    background: #dee3e7;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 30px;
}
   
.logo{
    display: block;
    margin-bottom: 20px;
    padding-left: 35px;
}
   
.LOGO-img{
    width: 150px;
}
   
.nav-links{
    list-style: none;
    position: relative; 
}
   
.nav-links li{
    padding: 10px;
}
   
.nav-links li a{
    padding: 3px 14px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}
   
.nav-links li a i{
    font-size: 18px;
    margin-right: 20px;
}
   
.active{
    background: #ffffff;
    width: 100%;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255 255 255 0.4);
    display: none;
    transition: 0.5s;
}
   
.nav-links li:hover a{
    color: #4EB790; 
    transition: 0.3s; 
}
   
.nav-links li:hover ~ .active{
    display: block; 
    transition: 0.3s;
}
   
.nav-links li:nth-child(1):hover ~ .active{
    top: 0;
}
.nav-links li:nth-child(2):hover ~ .active{
    top: 9.09%;
}
.nav-links li:nth-child(3):hover ~ .active{
    top:18.18%;
}
.nav-links li:nth-child(4):hover ~ .active{
    top:27.27%;
}
.nav-links li:nth-child(5):hover ~ .active{
    top:36.36%;
}
.nav-links li:nth-child(6):hover ~ .active{
    top:45.45%;
}
.nav-links li:nth-child(7):hover ~ .active{
    top:54.54%;
}
.nav-links li:nth-child(8):hover ~ .active{
    top:63.63%;
}
.nav-links li:nth-child(9):hover ~ .active{
    top:72.72%;
}
.nav-links li:nth-child(10):hover ~ .active{
    top:81.81%;
}
.nav-links li:nth-child(11):hover ~ .active{
    top:90.90%;
}
   
@media only screen and (max-width: 600px) {
     .side-nav{
       width: 125px;
     }
     .LOGO-img{
       display: none;
     }
     .nav-links li a p{
       display: none;
     }
     nav-links li a i{
       margin-right: 0;
     }
     nav-links li a {
      justify-content: center;
     }
}

.main--content{
    position: relative;
    background:#f0f2f4 ;
    width: 80%;
    padding: 1rem;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}
  
.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
  
.header--title{
    color: #000000; 
}
  
.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.search--box{
    background-color: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px ;
    margin-bottom: 8px;
    margin-left: 200px;
}

.search--box i:hover{
    transform: scale(1.2);
}
  
.search--box input{
    border: 1px solid rgb(237, 237, 237);  
}

.dashDetails{
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 290px;
    justify-content: space-between;
}
  
.header--buttons {
    display: flex;
}
  
.header--buttons button {
    background-color: #4EB790; 
    color: rgb(0, 0, 0); 
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin-right: 10px; 
    border-radius: 20px;
}

.header--buttons :hover{
   color: white;
}

.data_table{
  color: rgb(0, 0, 0);
  width: 100%;
  border-collapse: collapse; 
}

.data_table tbody{
  background: #ffffff(249, 246, 246);  
}

.data_table td{
  padding: 10px;
  font-size: 14px;
  color: black;
}

.data_table tr:nth-child(odd){
  background: rgb(234, 232, 232);
}

.dashUnit{
  margin-left: 0.01rem;
  margin-top: 1rem;
  background:#CFF5E7;
  padding: 1rem;
  border-radius: 2rem; 
}

.dash_table{
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;  
}

.dash_table tbody{
  background: #ffffff(249, 246, 246);  
}

.dash_table td{
  padding: 10px;
  font-size: 14px;
  color: black;
}

.dash_table tr:nth-child(odd){
  background: rgb(234, 232, 232);
}

.table-wrapper {
  overflow-x: auto;
}

.table-wrapper::-webkit-scrollbar {
  height: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: var(--dark-green);
  border-radius: 40px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: var(--white-color);
  border-radius: 40px;
}

.table-wrapper table {
  margin: 50px 0 20px;
  border-collapse: collapse;
  text-align: center;
}

.table-wrapper table th,
.table-wrapper table td {
  padding: 10px;
  min-width: 75px;
}

.table-wrapper table th {
  color: var(--white);
  background: var(--secondary-color);
}

.table-wrapper table tbody tr:nth-of-type(even) > * {
  background: var(--lightblue);
}

.table-wrapper table td:first-child {
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-gap: 10px;
  text-align: left;
}

.table-credits {
  font-size: 12px;
  margin-top: 10px;
}

.viewall{
  background-color: #4EB790;
  padding: 7px;
  width: 100px;
  margin-top: 20px;
  margin-left: 100px;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}

.dash_view{
  background-color: #4EB790;
  cursor: pointer;
  text-align: center;
  border-color: none;
}

.data_view{
  background-color: #cbcd57;
  cursor: pointer;
  text-align: center;
  border-color: none;
  color: rgb(0, 0, 0);
}

.data_deactivate{
  background-color: #633cce;
  cursor: pointer;
  text-align: center;
  border-color: none;
  color: rgb(0, 0, 0);
}

.data_activate{
  background-color: #ce3ca2;
  cursor: pointer;
  text-align: center;
  border-color: none;
  color: black;
}

.data_reactivate{
  background-color: #3cbfce;
  cursor: pointer;
  text-align: center;
  border-color: none;
  color: black;
}


