*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

* {
    /* colours */
    --primary-color: #4EB790;
    --secondary-color: #CFF5E7;
    --dark-green: #0E6F4B;
    --black-sub: #2E353E;
    --white-color: #FFFFFF;
    --red-color: #FC0606;
    --grey-color: #6E7175;
    --border-grey: #e1e4e8;
    ;
    --yellow-color: #E9AB0E;
    --light-gradient: linear-gradient(180deg, #4EB790 0%, #20EBA0 100%);
    --dark-gradient: linear-gradient(180deg, #52BE96 0%, #31946F 53.12%, #0E6F4B 100%);

    /* text colors */
    --text-color: #2E353E;
}



.button-1-green,
.button-2-yellow,
.button-3-red {
    border: none;
    color: var(--black-sub);
    font-weight: 600;
    width: 70%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 5px;
    margin: 0.5rem;
}

.button-1-green {
    background: var(--light-gradient);
}

.button-2-yellow {
    color: var(--black-sub);
    background-color: var(--yellow-color);
}

.button-3-red {
    background-color: var(--red-color);
    color: var(--white-color);
}

.admin-fundraiser .fundraiser-amount {
    margin-top: 1rem;
}

.admin-fundraiser .fundraiser-info {
    width: 100%;
    margin-top: 2rem;
}

.info-table {
    width: 100%;
}

.info-table table {
    width: 100%;
}

.info-table th {
    text-align: left;
}

.info-table td {
    text-align: right;
}

.info-table th,
td {
    padding: 0.5rem;
}

.admin-fundraiser .reports {
    width: 100%;
    margin-top: 2rem;
}

.admin-fundraiser .all-report-container {
    width: 100%;
    margin: 3rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.admin-fundraiser .report-container {
    padding: 0.5rem;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border: 1px solid var(--grey-color);
}

.admin-fundraiser .report-container:hover {
    border: 1px solid var(--primary-color);
    transition: background-color 0.3s ease;
}

.admin-fundraiser .report-image-container {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}

.admin-fundraiser .report-image-container img {
    max-width: 100%;
    /* Ensure the image doesn't exceed the container width */
    max-height: 100%;
    /* Ensure the image doesn't exceed the container height */
    object-fit: contain;
}

.report-container-bottom {
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide text exceeding the container */
    text-overflow: ellipsis;
    padding-left: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.admin-merchandise .fundraiser-ad-merch-container {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.admin-merchandise .fundraiser-ad-merch-left {
    flex: 4;
}


.admin-merchandise .ad-merch-img-container {
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid var(--grey-color);
    height: 20rem;

}


.admin-merchandise .ad-merch-img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;

}

.admin-merchandise .ad-merch-image-gallery {
    display: flex;
    width: 100%;
    margin: 1rem 0.3rem;
}

.admin-merchandise .ad-merch-image {
    /* border: 1px solid var(--black-sub); */
    height: 80px;
    width: 60px;
    margin-right: 1.5rem;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-merchandise .ad-merch-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    /* border: 1px solid black; */

}


.ad-merch-right-bottom {
    display: flex;
    flex-direction: column;
}

.admin-merchandise .ad-fundraiser-merch-right {
    flex: 5;
    display: flex;
    flex-direction: column;
}




.admin-merchandise .ad-merch-sizes,
.ad-merch-colors {
    display: flex;
    margin-bottom: 1rem;

}


.admin-merchandise .ad-merch-sizes,
.ad-merch-colors p {
    flex: 10%;
}


.admin-merchandise .ad-merch-sizes-right,
.ad-merch-colors-right {
    flex: 50%;
    display: grid;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    grid-template-columns: repeat(8, 1fr);
}


.admin-merchandise .ad-merch-price {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.admin-merchandise .ad-merch-stock {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.admin-merchandise .ad-merch-price h1 {
    margin-bottom: -0.5rem;
}


.admin-merchandise .ad-merch-button-list {
    margin: 1rem;
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-self: center;

}

.admin-merchandise .ad-merch-button-list button {
    flex: 1;
}


.admin-merchandise .ad-merch-full-description {
    margin: 1rem 0;
    width: 100%;
}

/* .admin-document */

.admin-document .document-container {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 3rem;
    /* gap: 2rem; */

}

.admin-document .document-left {
    /* flex: 2; */
    width: 49rem;
    border-radius: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    border: 0.5px solid var(--grey-color);
    border-radius: 3px;
    height: 70rem;

}

.admin-document .document-left img {
    flex: 2;
    object-fit: contain;
    border-radius: 0;
}

.admin-document .document-right {
    flex: 1;
    border-left: 2px solid var(--border-grey);
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 70rem;
    padding: 2rem 0 2rem 2rem;
    width: 100%;

}

/* edit-document */
.edit-document-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 2rem;
}

.edit-document-left {
    flex: 1;

}

.add-container,
.remove-container {
    width: 100%;
    padding: 2rem;
}

.edit-document-right {
    flex: 1;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    margin: 8px;
    padding: 1rem;
}

.admin-document .edit-document-right .text-2 {
    margin-bottom: 1.3rem;
}

.admin-current-documents {
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.admin-add-remove p {
    margin-bottom: 0.5rem;
}

.edit-document-left .submit-button-div {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 0;
}




.nic-container,
.bank-container  {
    display: flex;




}

.nic-container table {
    width: 21vw;
    margin-top: 1rem;
    background: var(--white-color);



}


.nic-container table th {
    background: var(--white-color);
}

.nic-front,
.nic-back {

    border: 1px solid var(--border-grey);
    width: 15vw;
    height: 90%;
    margin-top: 3rem;

}

.bank-container table {
    width: 30vw;
    margin-top: 1rem;
    background: var(--white-color);
}

.bank-container table th,
.story-popup-container table th{
    background: var(--white-color);
}


.popup-story{
    margin: auto;
    height: 400px;
    width: 700px;
    border: none;

    /* border: 2px solid orchid; */
    border-radius: 20px;
  }

  
  
  .popup-2::backdrop,
  .popup-story::backdrop{
    background: rgb(0 0 0 / 0.4);
  }

.bank-passbook
{

    border: 1px solid var(--border-grey);
    width: 30vw;
    height: 90%;
    margin-top: 3rem;
}

.nic-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 0;

}

.bank-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 0;

}

/* .organisation-logo-container{
   

   } */


.organisation-logo {
    border: 1px solid var(--border-grey);
    height: 90%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}



.organisation-logo img {
    object-fit: contain;
    max-width: 100%;
    /* Ensure the image doesn't exceed the container width */
    max-height: 100%;
    border-radius: 0;
    /* border: 2px solid black; */
}



/* #bank-popup{
    width: 20vw;
} */