*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

* {
  /* colours */
  --primary-color: #36CF97;
  /* --primary-color: #4EB790; */
  --secondary-color: #CFF5E7;
  --dark-green: #0E6F4B;
  --black-sub: #2E353E;
  --white-color: #FFFFFF;
  --red-color: #FC0606;
  --border-grey: #e1e4e8;
  --grey-color: #b0b1b2;
  --yellow-color: #D09705;
  --light-gradient: linear-gradient(180deg, #4EB790 0%, #20EBA0 100%);
  --dark-gradient: linear-gradient(180deg, #52BE96 0%, #31946F 53.12%, #0E6F4B 100%);
  --new-blue: #0C3461;
  /* text colors */
  --text-color: #2E353E;
}

.form-body{
  /* background: linear-gradient(45deg, var(--secondary-color),  #dbfdf1); */
  background: linear-gradient(135deg, #CFF5E7 0%, #CFF5E7 35%, #CFF5E7 79%, rgba(207, 245, 231, 0) 100%);
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;


}

.form-body h3{
  margin-bottom: 0rem;
}
.form-main{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin:auto;
  border-radius: 20px;
  overflow: hidden;
  width: 800px;
  display: flex;
  height: 710px;
  min-height: 580px;
  padding: 0;
  
}

fieldset{
  border: none;
}

.checkbox-label{
    cursor: pointer;
    margin-top: 1rem;
    font-size: 0.75rem;
    color: var(--black-sub);
}


.styled-checkbox {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1.5px solid #333;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 20px;
  outline: none;
}

.styled-checkbox:checked {
  background-color: #333;
}


.form-container-left{
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EAFDF6;
  padding: 0.5rem;


}

.form-progress-bar-container{
  width: 100%;
  margin: auto;
  height: 80%;
  position: relative;
}

.form-inactive-progress-bar-container{
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
}

.form-inactive-progress-bar{
  width: 10px;
  height: 100%;
  background-color: var(--border-grey);
  border-radius: 5px;
  position: absolute;
  right: 30px;
  /* z-index: 20; */
}

.inactive-progress-mark{
  background-color: var(--new-blue);
  width: 50px;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  right: 10px;
  top: -25px;
  /* z-index: 10; */
}

.form-progress-bar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  

}

.progress-step{
  flex: 1;
  width: 100%;
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1rem;
  color: var(--new-blue);
}


.progress-step.active{
  color: var(--new-blue);
}

.progress{
  display: none;
  height: 100%;
  background-color: var(--new-blue);
  width: 10px;
  border-radius: 5px;
  position: absolute;
  right: 30px;
}

.progress-step.active .progress{
  display: block;
  animation: slideFromTop .5s ease-in-out;
}

.progress-mark{
  background-color: var(--border-grey);
  width: 50px;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  right: 10px;
  bottom: -25px;
}

.progress-step.active .progress-mark{
  background-color: var(--new-blue);
}

.progress-text{
  display: none;
}

.progress-step.active .progress-text{
  display: block;
}

.form-container-right {
  width: 600px;
  height: 100%;
  background-color: var(--white-color);
  border-left: 2px solid var(--secondary-color);
  border-top: none;
  border-right: none;
  border-bottom: none;

}

.form-container-right .form-container{
  width:100%;
  height: 100%;
}

.form-container-right .form-container form{
  width:100%;
  height: 100%;
  padding: 0.5rem;
  
}

.form-con-topic{
  height: 4%;
}

.step-container{
  display: none;
}

.step-container.active{
  display: block;
  height: 96%;
  width: 100%;
  padding: 0.5rem;
}

.step-container fieldset{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-container-right fieldset {
  width: 100%;
  border-radius: 0 20px 20px 0;
  padding: 0rem 3rem 0rem 3rem;
  /* margin: 2rem; */
  border: none;
  height: 100%;

}



textarea::placeholder, .input::placeholder{
  /* padding-left: 0.5rem; */
  font-size: 0.65rem;
  color: var(--grey-color);
}







/* .form-container-right legend {
  margin: 0 1rem 0 -2rem;
  padding: 0 1rem 0 1rem;
} */

.form-container-right ::placeholder{
  /* padding-left: 0.5rem; */
  font-size: 0.65rem;
  color: #c7c7c7;
}

.form-flex {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* .form-flex-left,
.form-flex-right {
  flex: 1;
} */

.form-input-title{
  margin-top: 1rem;
  font-size: 0.75rem;
  color: var(--black-sub);
}
.input {
  appearance: none;
  height: 1.75rem;
  width: 100%;
  background-color: #f7feff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 8px;
  border: 1px solid #ececec;
  padding: 0.3rem;
}
textarea:focus, .input:focus {
  border: 1.5px solid var(--primary-color);
  outline: none;
}

/* input.invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}
 
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
} */

textarea{
  border-radius: 8px;
  border: 1px solid #ececec;
  padding: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  width: 100%;
}


  .checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
  }

  .checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  .checkbox-wrapper-2 .ikxBAC,
  .checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
  }

  .checkbox-wrapper-2 .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
  }

  .checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
  }

  .checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  .checkbox-wrapper-2 .ikxBAC:checked {
    background-color: var(--primary-color);
  }

  .checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
  }

  .checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
  }

  .checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color:var(--primary-color);
  }

.story_description{
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border-radius: 8px;
  border: 1px solid #ececec;
  padding: 0.3rem;
  width: 100%;
}

.submit-button-div {
  margin: 1rem;
  display: flex;
  justify-content: flex-end;

}

/* .form-container-right .submit-button-div{
  margin: 0;
} */


.js-next-prev-button{
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}



.js-prev, .js-next{
    width: 8rem;
    height: 100%;
   font-weight: 500;
   border-radius: 5px;
   letter-spacing: 0.02rem;
   text-align: center;
   color: var(--white-color);
   background-color: var(--primary-color);
   display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin-left: 2rem;
  border: none;
  outline: none;
  }

  .js-next:hover, .js-prev:hover{
    color: var(--black-sub);
  cursor: pointer;

  }

  .js-prev{
    align-self: flex-start;
  }

  .js-next{
    align-self: flex-end;
  }

.form-invalid{
  font-size: 0.55rem;
  color: var(--red-color);
  margin-top: 0px;
  margin-bottom: 0px;

}

.required {
  color: red;
  margin-left: 5px;
  font-size: 0.75rem;

}

.form-image-container{
    width: 100%;
    height: 7rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    border-radius: 8px;
    border: 1px solid #ececec;
    overflow: hidden;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
  
}

.form-image-container img{
    width: 100%;
    height: auto;
    /* object-fit: contain;   */
    border-radius: 8px;
}

/* super-signup-begin */


.super-signup-profile-img-con{
  /* border: 1px solid var(--border-grey); */
  height: 25vh;
  width: 25vh;
  margin: auto;
  position: relative;
}

.super-signup-profile-image{
  border-radius: 50%;
  border: 1px solid var(--border-grey);
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.super-signup-profile-image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.edit-icon{
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--grey-color);
}

.super-signup-username-con{
  /* border: 1px solid var(--border-grey); */
  width: 25vh;
  margin: auto;
  position: relative;
}

.super-signup-username-con p{
  text-align: center;
}


.custom-file-input {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 0.2rem 0;
  width:100%;
  /* border: 2px solid #3498db; */
  border-radius: 5px;
  background-color: var(--border-grey);
  color: var(--black-sub);
  margin: 0.5rem 0 0.5rem 0;
}

.custom-file-input span {
  display: block;
  text-align: center;
  font-size: 0.7rem;
}

.custom-file-input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.nic-form-image-container{
  /* border: 1px solid var(--border-grey); */
  position: relative;
  height: 70px;
  width: 100%;
  /* margin: auto; */
  margin-top: 1rem;
  overflow: hidden;
  display: flex;
  align-items:flex-start;
  justify-content:flex-start;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  }

.nic-form-image-container img{
  width: 100%;
  height: 100%; /* Take the full height of the container */
  object-fit: cover; 
  object-position: top left;
  /* border: 1px solid pink; */
   /* object-fit: contain; */
}

.fade-effect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px; /* Adjust the height of the fading effect as needed */
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none; /* Ensure the fading effect doesn't interfere with content */
}


/* 2 172034325 */



.d-none{
  display: none;
}


/* super-organisation-signup-form */

.executive-details, .treasurer-details, .secretary-details{
  margin-top: 1rem;
}

.executive-details p, .treasurer-details p, .secretary-details p{
  font-size: 1.2rem;
}

.executive-details i, .treasurer-details i, .secretary-details i{
  margin-left: 2rem;
  cursor: pointer;
} 

.executive-details-form, .treasurer-details-form, .secretary-details-form{
  border: 1px solid var(--border-grey);
  border-radius: 20px;
  padding: 1rem;
  padding-top: 0;
  display: none;
  transition: top 0.5s ease;
}

.executive-details-form.active, .treasurer-details-form.active, .secretary-details-form.active{
 display: block;
}