*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

* {
  /* colours */
  --primary-color: #4EB790;
  --secondary-color: #CFF5E7;
  --dark-green: #0E6F4B;
  --black-sub: #2E353E;
  --white-color: #FFFFFF;
  --red-color: #FC0606;
  --border-grey: #e1e4e8;
  --grey-color: #6E7175;
  --yellow-color: #D09705;
  --light-gradient: linear-gradient(180deg, #4EB790 0%, #20EBA0 100%);
  --dark-gradient: linear-gradient(180deg, #52BE96 0%, #31946F 53.12%, #0E6F4B 100%);

  /* text colors */
  --text-color: #2E353E;
}


.form-container {
  width: 700px;
  margin: 0 auto;
  border-radius: 20px;
}

.form-container fieldset {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color);
  width: 100%;
  border-radius: 20px;
  padding: 2rem 3rem 2rem 3rem;
}

/* .form-container legend {
  margin: 0 1rem 0 -2rem;
  padding: 0 1rem 0 1rem;
} */

.form-container ::placeholder{
  /* padding-left: 0.5rem; */
  font-size: 0.65rem;
  color: #c7c7c7;
}

.form-flex {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.form-flex-left,
.form-flex-right {
  flex: 1;
}

.form-input-title{
  margin-top: 1rem;
  font-size: 0.75rem;
}
.input {
  appearance: none;
  height: 2rem;
  width: 100%;
  background-color: #f7feff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border-radius: 8px;
  border: 1px solid #ececec;
  padding: 0.3rem;
}
.input:focus {
  border: 1.5px solid var(--primary-color);
  outline: none;
}

.story_description{
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border-radius: 8px;
  border: 1px solid #ececec;
  padding: 0.3rem;
  width: 100%;
}

.submit-button-div {
  margin: 1rem;
  display: flex;
  justify-content: flex-end;

}


.form-invalid{
  font-size: 0.65rem;
  color: var(--red-color);
  margin-top: 0px;
  margin-bottom: 5px;

}

.required {
  color: red;
  margin-left: 5px;
  font-size: 0.75rem;

}

.form-image-container{
    width: 100%;
    height: 7rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    border-radius: 8px;
    border: 1px solid #ececec;
    overflow: hidden;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
  
}

.form-image-container img{
    width: 100%;
    height: auto;
    /* object-fit: contain;   */
    border-radius: 8px;
}

.super-signup-profile-image{
  border-radius: 50%;
  border: 1px solid var(--border-grey);
  height: 25vh;
  width: 25vh;
  margin: auto;
}

.nic-form-image-container{
  /* border: 1px solid var(--border-grey); */
  height: 120px;
  width: 200px;
  margin: auto;
  margin-top: 1rem;
}

.nic-form-image-container img{
  max-width: 100%;
  max-height: 100%;
   object-fit: contain;
}