*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

* {
  /* colours */
  --primary-color: #4EB790;
  --secondary-color: #CFF5E7;
  --dark-green: #0E6F4B;
  --black-sub: #2E353E;
  --white-color: #FFFFFF;
  --red-color: #FC0606;
  --grey-color: #6E7175;
  --yellow-color: #D09705;
  --light-gradient: linear-gradient(180deg, #4EB790 0%, #20EBA0 100%);
  --dark-gradient: linear-gradient(180deg, #52BE96 0%, #31946F 53.12%, #0E6F4B 100%);

  /* text colors */
  --text-color: #2E353E;



}

/* .grid-donations {
    padding-left: 50px;
    display: grid;
    gap: 4rem;
    padding-block: 2rem;
    width: min(100%);
    margin-inline: auto;
  }
  
  .grid-donations .card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    text-align: center;
    height: 350px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: var(--gray-color);
  }
  
  .grid-donations .card .image {
    height: 200px;
    /* Set a fixed height for the image container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .grid-donations .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }
  
  .grid-donations .card .caption .description {
    overflow: hidden;
    max-height: 2em;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  
  .card .caption {
    flex: 1;
  }
  
  button.blue-button .card .caption {
  
    width: 100%;
    /* Set a specific width for the button, 100% will make it as wide as the card */
    margin-top: 10px;
    /* Adjust the margin to control the spacing between the caption and the button */
    align-self: flex-end;
  }
  
  @media (min-width: 40em) {
    .grid-donations {
      grid-template-columns: repeat(3, 1fr);
    }
  
  }
   */