*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

* {
    /* colours */
    --primary-color: #4EB790;
    --secondary-color: #CFF5E7;
    --dark-green: #0E6F4B;
    --black-sub: #2E353E;
    --white-color: #FFFFFF;
    --red-color: #FC0606;
    --grey-color: #6E7175;
    --border-grey: #e1e4e8;
  --tertiary-color: #daf2e9;
    
    --yellow-color: #E9AB0E;
    --light-gradient: linear-gradient(180deg, #4EB790 0%, #20EBA0 100%);
    --dark-gradient: linear-gradient(180deg, #52BE96 0%, #31946F 53.12%, #0E6F4B 100%);

    /* text colors */
    --text-color: #2E353E;
}



.button-1-green,
.button-2-yellow,
.button-3-red {
    border: none;
    color: var(--black-sub);
    font-weight: 600;
    height: 40px;
    width: 100px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 5px;
    margin: 0.5rem;
}

.button-1-green {
    background: var(--light-gradient);
}

.button-2-yellow {
    color: var(--black-sub);
    background-color: var(--yellow-color);
}

.button-3-red {
    background-color: var(--red-color);
    color: var(--white-color);
}

.merch-body{
    background-color: var(--tertiary-color);
}

.merch-main{
    margin: 6rem;
}

.merch-buy-con {
    height: auto;
    width: 100%;
    display: flex;
    gap: 2rem;
    /* border: 1px solid var(--border-grey); */
    /* margin: 1.5rem; */

}

.merch-buy-con-left {
    flex: 2;
    /* border: 1px solid var(--dark-green); */
    

}

.merch-buy-con-right {
  
    flex: 1;
    /* border: 1px solid var(--dark-green); */
    min-height: 500px;
    /* padding: 0.5rem; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 2rem;
    border-radius: 20px;
    margin: 2rem;
    background-color: var(--white-color);

}

.merch-buy-details {
    height: 250px;
    width: 100%;
    /* border: 1px solid var(--red-color); */
    display: flex;
    padding: 2rem;
    border-radius: 20px;
    margin: 2rem;
    background-color: var(--white-color);

}

.merch-img-con{
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    overflow: hidden;
    height: 200px;
    width: 300px;
    mergin: auto;
}

.merch-img-con img{
    width: 100%;
    height: auto;
    object-fit: contain;
    
}

.merch-data-con{
    height: 100%;
    overflow: hidden;
    border: none;
    width: inherit;
    position: relative;
}

.merch-des{
    height: 3rem;
    overflow: hidden;
    text-align: justify;
    border: none;
    width: inherit;
    position: relative;
    margin: 1rem;
}

.merch-con-below{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 1rem;
}

.merch-delivery-details {
    min-height: 200px;
    width: 100%;
    /* border: 1px solid var(--red-color); */
    padding: 2rem;
    border-radius: 20px;
    margin: 2rem;
    background-color: var(--white-color);

}

.buttons_added .minus, .buttons_added .plus{
    background: var(--light-gradient);
    border: 1px solid var(--border-grey);
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.buttons_added .input-text{
    width: 4rem;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    background-color: var(--border-grey);
    border-radius: 5px;
    padding: 4px 0 4px 0;


}

.merch-data-con-below-left{
    margin-left: 2rem;
}

.merch-delivery-details .form-input-title{
    margin-top: 0;
}



/* all-merch */


.merch .home-fundraiser-card {
    height: 250px;
max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--dark-greeny);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.merch .home-fundraiser-card:first-child {
    grid-column: auto;
    grid-row: auto;
    height: auto;
    font-size: inherit;
}


.merch .home-fundraiser-img {
    width: 100%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.merch .home-fundraiser-img img {
    max-width: 100%;
    /* Ensure the image doesn't exceed the container width */
    max-height: 100%;
    /* Ensure the image doesn't exceed the container height */
    object-fit:inherit;
}

.merch .home-story-below .smallfont{
    font-size: 0.75rem;
}
