body {
    font-family: "Poppins" , sans-serif;
    color: #333333;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-image: url('C:/xampp/htdocs/Closeup of diverse people joining their hands.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; /* Set the height of the body to the viewport height */
}


.gradient-rectangle {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(32, 228, 186, 1), rgba(182, 255, 255, 0)); /* Example gradient colors */
    z-index: 1; /* Set a positive z-index to place it above the background */
}



.my_text {
    color: #000;
font-family: Poppins;
font-size: 70.499px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.my_box {

width: 467px;
height: 106px;
flex-shrink: 0;
border-radius: 35px;
border: 1px solid #000;
background: rgba(217, 217, 217, 0.00);

}

.my_text2 {
    color: #585858;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}





