*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

* {
    /* colours */
    --primary-color: #4EB790;
    --secondary-color: #CFF5E7;
    --dark-green: #0E6F4B;
    --black-sub: #2E353E;
    --white-color: #FFFFFF;
    --red-color: #FC0606;
    --grey-color: #6E7175;
    --yellow-color: #D09705;
    --light-gradient: linear-gradient(180deg, #4EB790 0%, #20EBA0 100%);
    --dark-gradient: linear-gradient(180deg, #52BE96 0%, #31946F 53.12%, #0E6F4B 100%);
  
    /* text colors */
    --text-color: #2E353E;
  }
